<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="UKTV Now Login">
		<setting id="username" type="text" label="UKTV Now Username" default="" visible="true"/>
		<setting id="password" type="text"label="UKTV Now Password" default="" visible="true" option="hidden" />
	</category>
</settings>